# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.venv/
.pdm-python
.pdm-build/

.coverage
htmlcov/

# due to using tox and pytest
.tox
.cache
.pytest_cache/

# sphinx
_static
_templates
_build

# Pycharm
.idea