# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.coverage

# due to using tox and pytest
.tox
.cache

pip-selfcheck.json
pyvenv.cfg

# Virtualenv dirs
bin/
include/
lib/
lib64
share/

