# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

.coverage
htmlcov/

# due to using tox and pytest
.tox
.cache

# Virtualenv dirs
bin/
include/
lib/
lib64
share/
pip-selfcheck.json
pyvenv.cfg
