[tool.poetry]
name = "hdate"
version = "0.10.8"
description = "Jewish/Hebrew date and Zmanim in native Python 2.7/3.x"
authors = ["Royi Reshef <roy.myapp@gmail.com>"]
maintainers = ["Tsvi Mostovicz <ttmost@gmail.com>"]
license = "GPL-3.0-or-later"
readme = "README.rst"
repository = "https://github.com/py-libhdate/py-libhdate"
documentation = "https://py-libhdate.readthedocs.io/en/latest/"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Topic :: Software Development :: Libraries",
]

[tool.poetry.dependencies]
python = "^3.7.15"
pytz = "^2024.1"
astral = "^2.2"

[tool.poetry.dev-dependencies]
tox = "^3.26.0"
pre-commit = "^2.20.0"
Sphinx = "^4.3.2"
pylint = "^2.15.5"
isort = "^5.10.1"
black = "^22.10.0"
flake8 = "^5.0.4"
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pylint.format]
max-line-length = "88"

[tool.pytest.ini_options]
# Show summary output for all types of failures
# Run doctest that are part of docstrings
# Run doctest in RST files
addopts = "-ra --doctest-modules --doctest-glob=*.rst"
