name: Release

on:
  release:
    types: [published]

jobs:
  publish-release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Get version
      run: |
        echo "::set-env name=VERSION::$(/usr/bin/git tag --list | sed 's|.*v\([0-9\.]*\).*|\1|')"
    - name: Bump version
      run: |
        sed "s/^    version=.*/    version='${{ env.VERSION }}',/" -i setup.py
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add setup.py
        git commit -m "releasing v${{ env.VERSION }}"
        git tag -f "v${{ env.VERSION }}"
    - name: Push changes
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Push tags
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tags: true
        force: true

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Setup dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel

    - name: Generate package
      run: python setup.py sdist bdist_wheel

    - name: Publish a Python distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
