name: Release

on:
  release:
    types: [published]

jobs:
  publish-release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get version
      run: |
        echo "VERSION=$(/usr/bin/git tag --list | sed 's|.*v\([0-9\.]*\).*|\1|')" >> $GITHUB_ENV
    - name: Bump version
      run: |
        sed 's/^version = ".*"/version = "'"$VERSION"'"/' -i pyproject.toml
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add pyproject.toml
        git commit -m "releasing v$VERSION"
        git tag -f "v$VERSION"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Push tags
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tags: true
        force: true

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Build and publish using poetry
      uses: d1618033/gh-action-python-publish-using-poetry@master
      with:
        pypi_username: __token__
        pypi_password: ${{ secrets.PYPI_PASSWORD }}
