name: Run tests

on:
  push:
    branches: [main]

  pull_request:

jobs:

  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade tox tox-pdm .
    - name: Test with tox
      run: |
        tox --version
        tox -e lint

  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, "3.10", 3.11, 3.12, 3.13]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade tox tox-pdm .
    - name: Test with tox
      run: |
        tox --version
        pyversion="${{ matrix.python-version }}"
        tox -e py${pyversion/./}
